<a href="https://colab.research.google.com/github/kwon0136/Python/blob/master/190227/Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pyodbc 
cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                        "Server=.;"
                        "Database=VideoShop;"
                        "uid=sa;pwd=Pa$$w0rd")
cursor = cnxn.cursor()
cursor.execute('SELECT * FROM VS_CUSTOMER')

for row in cursor:
    print(row)

('10001', '홍길동    ', '345-1432       ', '인천광역시 효성1동            ', '701113-1270616')
('10002', '영화광    ', '445-2432       ', '인천광역시 효성1동            ', '721002-1470618')
('10003', '강명훈    ', '532-3442       ', '인천광역시 효성2동            ', '731113-4410626')
('10004', '이상훈    ', '654-4412       ', '인천광역시 효성2동            ', '740206-1470612')
('10005', '강미영    ', '777-5422       ', '인천광역시 계산동             ', '750313-0470616')
('10006', '이존오    ', '881-6432       ', '인천광역시 부평1동            ', '770601-1420314')
('10007', '홍미영    ', '942-6432       ', '인천광역시 부평2동            ', '770802-0470617')