<a href="https://colab.research.google.com/github/kwon0136/Python/blob/master/190227/Question02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#* 파이썬 라이브러리 pyodbc를 사용하여 SQL Server데이터베이스를 접속하고
#  VideoShop의 VS_CUSTOMER를 가져오는(SELECT) 기능을 구현하시오.

import pyodbc 
cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                        "Server=.;"
                        "Database=VideoShop;"
                        "uid=sa;pwd=Pa$$w0rd")
cursor = cnxn.cursor()
cursor.execute('SELECT * FROM VS_CUSTOMER')

for row in cursor:
    print(row)

('10001', '홍길동    ', '345-1432       ', '인천광역시 효성1동            ', '701113-1270616')
('10002', '영화광    ', '445-2432       ', '인천광역시 효성1동            ', '721002-1470618')
('10003', '강명훈    ', '532-3442       ', '인천광역시 효성2동            ', '731113-4410626')
('10004', '이상훈    ', '654-4412       ', '인천광역시 효성2동            ', '740206-1470612')
('10005', '강미영    ', '777-5422       ', '인천광역시 계산동             ', '750313-0470616')
('10006', '이존오    ', '881-6432       ', '인천광역시 부평1동            ', '770601-1420314')
('10007', '홍미영    ', '942-6432       ', '인천광역시 부평2동            ', '770802-0470617')

In [0]:
#* 제공된 seoul.csv를 사용하여 서울 기온데이터를 사용하여 
#   - 기상 관측 이래 가장 더웠던 날은 몇도 있는지 출력하고, 그래프로 출력하시오.
#     (plot, histgram사용)

import csv
f = open("../Data/seoul.csv", encoding='utf-8')
data = csv.reader(f)
next(data)

min_temp = 0
max_temp_date = ''

for row in data:
    if row[-2] != '':
        if float(row[-2]) < min_temp:
            min_temp = float(row[-2])
            min_temp_date = row[0]
            
print(min_temp, min_temp_date)