<a href="https://colab.research.google.com/github/kwon0136/Python/blob/master/190219/test3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import csv
f = open("seoul.csv", encoding = 'utf-8')
data = csv.reader(f)

#for row in data:
#    print(row[0], row[2])
#서울 날씨의 평균기온
sum = []
count = 0
for i in data:
    #print(i)
    count += 1
    #print(count)

for j in data:
    #sum.append(i[2])
    print(j[2])

In [0]:
import csv
f = open("seoul.csv", encoding = 'utf-8')
data = csv.reader(f)

degree = []
for i in data:
    degree.append(i[2])
    print(degree)
    
print(degree)

In [0]:
print(degree)

In [0]:
import csv
f = open("seoul.csv", encoding = 'utf-8')
data = csv.reader(f)

degree = []
for i in data:
    degree.append(i[2])
    #print(degree)

#print(len(degree))
#print(degree)
degree2 = 0
for j in degree[1:len(degree)]:
    dedree2 = degree2 + j
print(degree2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [0]:
import csv
f = open('seoul.csv', encoding = 'utf-8')
data = csv.reader(f)

temp = []
for row in data:
    temp.append(row[2])

temp2 = 0
for row in temp[1:]:
    if row == '': continue
    temp2 += float(row)
print(temp2/len(temp[1:]))

11.484158761857177

In [0]:
#1995년 이전의 최고 기온

import csv
f = open('seoul.csv', encoding = 'utf-8')
data = csv.reader(f)
next(data)

date = []
for row in data:
    if int(row[0][0:4]) < 1995:
        date.append(row[-1])

date2 = []
for i in date:
    if i == "": continue
    date2.append(float(i))
print(max(date2))

38.4

In [0]:
import csv
f = open('seoul.csv', encoding = 'utf-8')
data = csv.reader(f)
next(data)

max_temp = 0
max_tempMdate = ''
cnt = 0

for row in data:
    if row[-1] != '':
        if(int(row[0].split("-")[0]) < 1995 and float(row[-1]) > max_temp):
            max_temp = float(row[-1])
            max_temp_date = row[0]
        
print(max_temp, max_temp_date)

#test_value = '1907-11-01'
#print(test_value.split("-")[0])

38.4 1994-07-24