<a href="https://colab.research.google.com/github/kwon0136/Python/blob/master/190225/test5_Groupby.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

data = {'Team':['Tom','John','John','Amy'], 'Rank':[1,2,2,3], 'Year':[2014,2016,2016,2018], 'Point':[10,15,20,10]}
df = pd.DataFrame(data)
df.groupby('Team')['Point'].mean()
df.groupby('Team').groups

df2 = df.groupby('Team')
for name,group in df2:
    print(name,group)

Amy   Team  Rank  Year  Point
3  Amy     3  2018     10
John    Team  Rank  Year  Point
1  John     2  2016     15
2  John     2  2016     20
Tom   Team  Rank  Year  Point
0  Tom     1  2014     10