<a href="https://colab.research.google.com/github/kwon0136/Python/blob/master/190225/test4_Sort.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.rand(5,2), index=[2,1,0,3,4])
df.sort_index() # index기준으로 sorting
df.sort_index(ascending = False) #index기준 Descending
df.sort_index(axis=1) # column 기준 정렬
df.sort_index(axis=1, ascending = False) # column 기준 Descending

df.rename (columns={df.columns[0]:'col1', df.columns[1]:'col2'}, inplace=True)

df.sort_values(by='col1')
df.sort_values(by='col2')
df.sort_values(by=['col1','col2'], ascending=[True,False]) # col1 ascending, col2 descending

       col1      col2
4  0.408137  0.460420
1  0.588474  0.816659
0  0.643525  0.451433
3  0.734627  0.912109
2  0.826025  0.693495

In [0]:
# Missing Data
df2 = pd.DataFrame(np.random.rand(5,3), index=['a','c','e','f','h'], columns=['one','two','three'])
df3 = df2.reindex(['a','b','c','d','e','f','g','h']) # 공백값 만들어 준다
df3['one'].isnull() # null값 --> True
df3['one'].notnull() # notnull --> True
df3['one'].sum()

1.4936347251069129

In [0]:
df4 = pd.DataFrame(index=[0,1,2,3,4,5], columns=['one','two'])
print(df4)
print(df4.sum())
print(df4['one'].sum())

   one  two
0  NaN  NaN
1  NaN  NaN
2  NaN  NaN
3  NaN  NaN
4  NaN  NaN
5  NaN  NaN
one    0.0
two    0.0
dtype: float64
0

In [0]:
df4
df4.fillna(0) # null 값을 0으로 채운다

df3
df3.dropna() # null값을 drop한다
df3

        one       two     three
a  0.876131  0.712055  0.430415
b       NaN       NaN       NaN
c  0.172872  0.110986  0.892793
d       NaN       NaN       NaN
e  0.258826  0.941913  0.018408
f  0.075630  0.385383  0.600466
g       NaN       NaN       NaN
h  0.110175  0.099473  0.184373