<a href="https://colab.research.google.com/github/kwon0136/Python/blob/master/190225/test4_cctv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# 서울 CCTV 현황
import pandas as pd

cctv_seoul = pd.read_csv('../Data/CCTV_Seoul.csv', encoding='utf-8')
cctv_seoul.head()

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

In [0]:
cctv_seoul.columns
cctv_seoul.columns[0]

df = cctv_seoul.rename(columns={cctv_seoul.columns[0]: '구별'})
df
cctv_seoul

# 원본 바로 바꾸기 --> 'inplace = True'
#cctv_seoul.rename(columns={cctv_seoul.columns[0]: '구별'}, inplace = True)

     기관명    소계  2013년도 이전  2014년  2015년  2016년
0    강남구  2780       1292    430    584    932
1    강동구   773        379     99    155    377
2    강북구   748        369    120    138    204
3    강서구   884        388    258    184     81
4    관악구  1496        846    260    390    613
5    광진구   707        573     78     53    174
6    구로구  1561       1142    173    246    323
7    금천구  1015        674     51    269    354
8    노원구  1265        542     57    451    516
9    도봉구   485        238    159     42    386
10  동대문구  1294       1070     23    198    579
11   동작구  1091        544    341    103    314
12   마포구   574        314    118    169    379
13  서대문구   962        844     50     68    292
14   서초구  1930       1406    157    336    398
15   성동구  1062        730     91    241    265
16   성북구  1464       1009     78    360    204
17   송파구   618        529     21     68    463
18   양천구  2034       1843    142     30    467
19  영등포구   904        495    214    195    373
20   용산구  1624       1368    218    112    398
21   은평구  1873       1138    224    278    468
22   종로구  1002        464    314    211    630
23    중구   671        413    190     72    348
24   중랑구   660        509    121    177    109

In [0]:
pop_seoul = pd.read_excel('../Data/population_Seoul.xls', encoding = "utf-8")
pop_seoul

pop_seoul = pd.read_excel('../Data/population_Seoul.xls', header=2, encoding = "utf-8") #위 두줄 삭제
pop_seoul.head()

pop_seoul = pd.read_excel('../Data/population_Seoul.xls', header=2, usecols='B,D,G,J,N',encoding = "utf-8")
pop_seoul.head()

   자치구           계        계.1       계.2   65세이상고령자
0   합계  10197604.0  9926968.0  270636.0  1321458.0
1  종로구    162820.0   153589.0    9231.0    25425.0
2   중구    133240.0   124312.0    8928.0    20764.0
3  용산구    244203.0   229456.0   14747.0    36231.0
4  성동구    311244.0   303380.0    7864.0    39997.0

In [0]:
pop_seoul.rename(columns={pop_seoul.columns[0]:'구별',pop_seoul.columns[1]:'인구수',pop_seoul.columns[2]:'한국인',pop_seoul.columns[3]:'외국인',pop_seoul.columns[4]:'고령자'}, inplace=True)
pop_seoul.head()

    구별       인구수       한국인      외국인      고령자     외국인비율      고령자비율
1  종로구  162820.0  153589.0   9231.0  25425.0  5.669451  15.615404
2   중구  133240.0  124312.0   8928.0  20764.0  6.700690  15.583909
3  용산구  244203.0  229456.0  14747.0  36231.0  6.038828  14.836427
4  성동구  311244.0  303380.0   7864.0  39997.0  2.526635  12.850689
5  광진구  372164.0  357211.0  14953.0  42214.0  4.017852  11.342849

In [0]:
pop_seoul.info()
pop_seoul.columns
pop_seoul.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 5 columns):
구별     26 non-null object
인구수    26 non-null float64
한국인    26 non-null float64
외국인    26 non-null float64
고령자    26 non-null float64
dtypes: float64(4), object(1)
memory usage: 1.1+ KB

                인구수           한국인            외국인           고령자
count  2.600000e+01  2.600000e+01      26.000000  2.600000e+01
mean   7.844311e+05  7.636129e+05   20818.153846  1.016506e+05
std    1.924156e+06  1.873421e+06   51598.169516  2.491801e+05
min    1.332400e+05  1.243120e+05    2017.000000  2.076400e+04
25%    3.348055e+05  3.316718e+05    4489.000000  4.831200e+04
50%    4.135115e+05  4.051690e+05    9079.500000  5.439750e+04
75%    4.907855e+05  4.864445e+05   14901.500000  6.431075e+04
max    1.019760e+07  9.926968e+06  270636.000000  1.321458e+06

In [0]:
pop_seoul['구별'].unique() # 중복값 제거
pop_seoul['구별'].isnull() # 공백-->True값 반환
pop_seoul[pop_seoul['구별'].isnull()] # --> '구별' column 중 공백 가지는 값 반환
#pop_seoul.drop([26], inplace=True) # 공백값 가지는 row 삭제(26) // 삭제 후 재실행--> error
#pop_seoul.drop([0],inplace=True)

In [0]:
pop_seoul.head()
pop_seoul['외국인비율'] = pop_seoul['외국인'] / pop_seoul['인구수']*100 # 외국인비율 column 추가
pop_seoul['고령자비율'] = pop_seoul['고령자'] / pop_seoul['인구수']*100 # 고령자비율 column 추가

In [0]:
pop_seoul
pop_seoul.sort_values(by='인구수', ascending=False) # 인구수 기준 내림차순
pop_seoul.sort_values(by='외국인', ascending=False) #외국인 기준 내림차순

      구별       인구수       한국인      외국인      고령자     외국인비율      고령자비율
19  영등포구  402985.0  368072.0  34913.0  52413.0  8.663598  13.006191
17   구로구  447874.0  416487.0  31387.0  56833.0  7.007998  12.689506
18   금천구  255082.0  236353.0  18729.0  32970.0  7.342345  12.925255
21   관악구  525515.0  507203.0  18312.0  68082.0  3.484582  12.955291
6   동대문구  369496.0  354079.0  15417.0  54173.0  4.172440  14.661322
5    광진구  372164.0  357211.0  14953.0  42214.0  4.017852  11.342849
3    용산구  244203.0  229456.0  14747.0  36231.0  6.038828  14.836427
13  서대문구  327163.0  314982.0  12181.0  48161.0  3.723221  14.720797
20   동작구  412520.0  400456.0  12064.0  56013.0  2.924464  13.578251
8    성북구  461260.0  449773.0  11487.0  64692.0  2.490353  14.025062
14   마포구  389649.0  378566.0  11083.0  48765.0  2.844355  12.515110
1    종로구  162820.0  153589.0   9231.0  25425.0  5.669451  15.615404
2     중구  133240.0  124312.0   8928.0  20764.0  6.700690  15.583909
4    성동구  311244.0  303380.0   7864.0  39997.0  2.526635  12.850689
24   송파구  667483.0  660584.0   6899.0  72506.0  1.033584  10.862599
16   강서구  603772.0  597248.0   6524.0  72548.0  1.080540  12.015794
23   강남구  570500.0  565550.0   4950.0  63167.0  0.867660  11.072217
7    중랑구  414503.0  409882.0   4621.0  56774.0  1.114829  13.696885
12   은평구  494388.0  489943.0   4445.0  72334.0  0.899091  14.631019
22   서초구  450310.0  445994.0   4316.0  51733.0  0.958451  11.488308
25   강동구  453233.0  449019.0   4214.0  54622.0  0.929765  12.051638
15   양천구  479978.0  475949.0   4029.0  52975.0  0.839413  11.036964
11   노원구  569384.0  565565.0   3819.0  71941.0  0.670725  12.634883
9    강북구  330192.0  326686.0   3506.0  54813.0  1.061806  16.600342
10   도봉구  348646.0  346629.0   2017.0  51312.0  0.578524  14.717507

In [0]:
cctv_seoul.rename(columns={cctv_seoul.columns[0]:'구별'}, inplace=True)
data_result = pd.merge(cctv_seoul, pop_seoul, on='구별')
data_result

,구별,소계,2013년도 이전,2014년,2015년,2016년,인구수,한국인,외국인,고령자,외국인비율,고령자비율
0,강남구,2780,1292,430,584,932,570500.0,565550.0,4950.0,63167.0,0.867660,11.072217
1,강동구,773,379,99,155,377,453233.0,449019.0,4214.0,54622.0,0.929765,12.051638
2,강북구,748,369,120,138,204,330192.0,326686.0,3506.0,54813.0,1.061806,16.600342
3,강서구,884,388,258,184,81,603772.0,597248.0,6524.0,72548.0,1.080540,12.015794
4,관악구,1496,846,260,390,613,525515.0,507203.0,18312.0,68082.0,3.484582,12.955291
5,광진구,707,573,78,53,174,372164.0,357211.0,14953.0,42214.0,4.017852,11.342849
6,구로구,1561,1142,173,246,323,447874.0,416487.0,31387.0,56833.0,7.007998,12.689506
7,금천구,1015,674,51,269,354,255082.0,236353.0,18729.0,32970.0,7.342345,12.925255
8,노원구,1265,542,57,451,516,569384.0,565565.0,3819.0,71941.0,0.670725,12.634883
9,도봉구,485,238,159,42,386,348646.0,346629.0,2017.0,51312.0,0.578524,14.717507
10,동대문구,1294,1070,23,198,579,369496.0,354079.0,15417.0,54173.0,4.172440,14.661322
11,동작구,1091,544,341,103,314,412520.0,400456.0,12064.0,56013.0,2.924464,13.578251
12,마포구,574,314,118,169,379,389649.0,378566.0,11083.0,48765.0,2.844355,12.515110
13,서대문구,962,844,50,68,292,327163.0,314982.0,12181.0,48161.0,3.723221,14.720797
14,서초구,1930,1406,157,336,398,450310.0,445994.0,4316.0,51733.0,0.958451,11.488308
15,성동구,1062,730,91,241,265,311244.0,303380.0,7864.0,39997.0,2.526635,12.850689
16,성북구,1464,1009,78,360,204,461260.0,449773.0,11487.0,64692.0,2.490353,14.025062
17,송파구,618,529,21,68,463,667483.0,660584.0,6899.0,72506.0,1.033584,10.862599
18,양천구,2034,1843,142,30,467,479978.0,475949.0,4029.0,52975.0,0.839413,11.036964
19,영등포구,904,495,214,195,373,402985.0,368072.0,34913.0,52413.0,8.663598,13.006191
20,용산구,1624,1368,218,112,398,244203.0,229456.0,14747.0,36231.0,6.038828,14.836427
21,은평구,1873,1138,224,278,468,494388.0,489943.0,4445.0,72334.0,0.899091,14.631019
22,종로구,1002,464,314,211,630,162820.0,153589.0,9231.0,25425.0,5.669451,15.615404
23,중구,671,413,190,72,348,133240.0,124312.0,8928.0,20764.0,6.700690,15.583909
24,중랑구,660,509,121,177,109,414503.0,409882.0,4621.0,56774.0,1.114829,13.696885