<a href="https://colab.research.google.com/github/kwon0136/Python/blob/master/190225/test2_Statistics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
## Statistics
# sum(), mean()... P.195
import pandas as pd

d = {'Name' : ['Tom','John','Amy'], 'Age': pd.Series([20,21,23]), 'Rating' : pd.Series([4.5,3.9,3.4])}
df = pd.DataFrame(d)
df

df.sum()
df.sum(axis=1)
df.sum(1)
df.mean() # 문자열 자동 제외
df.std() # 표준편차

df.describe() # column에 대한 요약통계

             Age    Rating
count   3.000000  3.000000
mean   21.333333  3.933333
std     1.527525  0.550757
min    20.000000  3.400000
25%    20.500000  3.650000
50%    21.000000  3.900000
75%    22.000000  4.200000
max    23.000000  4.500000