<a href="https://colab.research.google.com/github/kwon0136/Python/blob/master/190225/test3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

def add(a, b):
    return a+ b

c = add(1,2)
print(c)


# pipe 표 기능 응용 프로그램
df = pd.DataFrame(np.random.rand(5,3), columns=['col1','col2','col3'])
print(df)
print('')
print(df.pipe(add, 2)) # 각 항목에 2를 더함
print('')

#apply() 행 또는 열 Wise 함수 응용 프로그램
print(df.apply(np.mean)) # row 기준
print('')
print(df.apply(np.mean, axis=1)) #column기준
print('')

print(df.apply(lambda x: x.max() - x.min()))
print('')

# rename
df4 = pd.DataFrame(np.random.rand(5,3), columns=['col1','col2','col3'])

df4.rename(columns= {'col1':'cl1', 'col2':'cl2'})
df4.rename(index= {0:'one',1:'two'})

3
       col1      col2      col3
0  0.843150  0.535280  0.246346
1  0.252211  0.131912  0.683845
2  0.062380  0.787531  0.361607
3  0.757348  0.998195  0.887187
4  0.755153  0.823132  0.732898

       col1      col2      col3
0  2.843150  2.535280  2.246346
1  2.252211  2.131912  2.683845
2  2.062380  2.787531  2.361607
3  2.757348  2.998195  2.887187
4  2.755153  2.823132  2.732898

col1    0.534048
col2    0.655210
col3    0.582377
dtype: float64

0    0.541592
1    0.355989
2    0.403839
3    0.880910
4    0.770394
dtype: float64

col1    0.780770
col2    0.866283
col3    0.640841
dtype: float64

         col1      col2      col3
one  0.442883  0.160653  0.443625
two  0.549413  0.955007  0.546430
2    0.070511  0.708996  0.332013
3    0.603065  0.837689  0.254912
4    0.846533  0.169423  0.403776

In [0]:
# DataFrame Iteration

df5 = pd.DataFrame(np.random.rand(5,3), columns=['col1','col2','col3'])

df5
for col in df5:
    print(col)

print('')    
    
for temp in df5.iteritems():
    print(temp)
print('')

for key,value in df5.iteritems():
    print(key,value)
                         
print('')

for row_index, row in df5.iterrows():
    print(row_index, row)
    
print('')

for row in df5.itertuples():
    print(row)

col1
col2
col3

('col1', 0    0.789570
1    0.521146
2    0.982165
3    0.863352
4    0.513965
Name: col1, dtype: float64)
('col2', 0    0.015693
1    0.746248
2    0.541610
3    0.283947
4    0.479936
Name: col2, dtype: float64)
('col3', 0    0.186928
1    0.026174
2    0.913703
3    0.495315
4    0.780313
Name: col3, dtype: float64)

col1 0    0.789570
1    0.521146
2    0.982165
3    0.863352
4    0.513965
Name: col1, dtype: float64
col2 0    0.015693
1    0.746248
2    0.541610
3    0.283947
4    0.479936
Name: col2, dtype: float64
col3 0    0.186928
1    0.026174
2    0.913703
3    0.495315
4    0.780313
Name: col3, dtype: float64

0 col1    0.789570
col2    0.015693
col3    0.186928
Name: 0, dtype: float64
1 col1    0.521146
col2    0.746248
col3    0.026174
Name: 1, dtype: float64
2 col1    0.982165
col2    0.541610
col3    0.913703
Name: 2, dtype: float64
3 col1    0.863352
col2    0.283947
col3    0.495315
Name: 3, dtype: float64
4 col1    0.513965
col2    0.479936
col3    0.780313
Name: 4, dtype: float64

Pandas(Index=0, col1=0.7895702296194036, col2=0.01569344822376917, col3=0.1869284275781221)
Pandas(Index=1, col1=0.5211462613722734, col2=0.7462484381787569, col3=0.02617369894068089)
Pandas(Index=2, col1=0.9821652168779218, col2=0.5416101179472695, col3=0.9137029683903757)
Pandas(Index=3, col1=0.8633516212433331, col2=0.28394689895932546, col3=0.49531521257066424)
Pandas(Index=4, col1=0.5139648021508849, col2=0.4799359810712793, col3=0.7803130467433528)