<a href="https://colab.research.google.com/github/kwon0136/Python/blob/master/190221/test3_pandas_Series_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
s = pd.Series()  #Series는 1차원만 가능
print(s)

import numpy as np
data = np.array([1,2,3,4])
s2 = pd.Series(data)  # pandas에 numpy값 넣어주기
print(s2)
print("")
data2 = np.array(['홍길동','이순신','강감찬'])
s3 = pd.Series(data2)
print(s3)
print('')
## pandas.Series(data, index, dtype, copy)
label = [100,200,300]   #index 지정(default값 : '0'부터)
s4 = pd.Series(data2, label)
print(s4)
print('')

data5 = {'a':100, 'b':200, 'c':300 } #dictionary --> key값이 index로
s5 = pd.Series(data5)
print(s5)

s6 = pd.Series(data5, index=['a','c','b'])
print(s6)
print("")

data7 = [1,2,3,4]
s7 = pd.Series(data7, index = [100,101,102,103])
print(s7)

Series([], dtype: float64)
0    1
1    2
2    3
3    4
dtype: int32

0    홍길동
1    이순신
2    강감찬
dtype: object

100    홍길동
200    이순신
300    강감찬
dtype: object

a    100
b    200
c    300
dtype: int64
a    100
c    300
b    200
dtype: int64

100    1
101    2
102    3
103    4
dtype: int64

In [0]:
data8 = pd.Series([1,2,3,4], index=['a','b','c','d'])
print(data8)
print('')
print(data8[0])
print(data8['a'])
print("")
print(data8[1:])
print("")
print(data8[-3:])
print("")
print(data8['a'])
print("")
print(data8[['a','c','d']])  #특정 index의 값만 뽑아낼 때

a    1
b    2
c    3
d    4
dtype: int64

1
1

b    2
c    3
d    4
dtype: int64

b    2
c    3
d    4
dtype: int64

1

a    1
c    3
d    4
dtype: int64

## pandas.DataFrame(data, index, columns, dtype, copy)
## list, dict, Series, Numpy, ndarray...--> DataFrame 가능

import pandas as pd
data = [1,2,3,4]
df = pd.DataFrame(data)
print(df)

In [0]:
data2 = [['item1',1],['item2',2],['item3',3]]
np.array(data2).shape
df2 = pd.DataFrame(data2)
print(df2)
print("")
df3 = pd.DataFrame(data2, columns=['Name','Qty']) # column name 지정
print(df3)
print("")
df4 = pd.DataFrame(data2, index = ['First','Second','Third'], columns=['Name','Qty'])
print(df4)
df4.index

       0  1
0  item1  1
1  item2  2
2  item3  3

    Name  Qty
0  item1    1
1  item2    2
2  item3    3

         Name  Qty
First   item1    1
Second  item2    2
Third   item3    3

Index(['First', 'Second', 'Third'], dtype='object')

In [0]:
import pandas as pd
df = pd.read_csv('seoul.csv', encoding='utf-8')
df.head() # 상위값 가져오기_default값:5
df['날짜'] # column을 가져온다
df['지점']
df.columns
df.columns[0]
df.columns[0:2]
df.iloc[0] # index기준 slicing /순서를 나타내는 정수 기반의 2차원 인덱싱
df.iloc[0:5]
df.iloc[-1:]
print(df.iloc[1:3])
print("")
print(df[1:3])
df.iloc[0:5, 0:3] # index기준 slicing /순서를 나타내는 정수 기반의 2차원 인덱싱
df.iloc[0,0]
df.iloc[[0,2,4],0:3] # row == 0,2,4 / column == [0:3]
df[['날짜','지점']] #column select
df[0:1] # rows slicing
df.loc[[0,2,4],['날짜','지점']]

           날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
1  1907-10-02  108     16.2      7.9     22.0
2  1907-10-03  108     16.2     13.1     21.3

           날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
1  1907-10-02  108     16.2      7.9     22.0
2  1907-10-03  108     16.2     13.1     21.3

           날짜   지점
0  1907-10-01  108
2  1907-10-03  108
4  1907-10-05  108

In [0]:
d = {'one' : pd.Series([1,2,3], index=['a','b','c']), 'two':pd.Series([1,2,3,4], index=['a','b','c','d'])}
df2 = pd.Series(d)
df2

df2['three'] = pd.Series([10,20,30], index=['a','b','c'])
df2

d1 = pd.DataFrame([[1,2,3],[4,5,6]], columns=['one','two','three'], index=['no1','no2'])
print(d1)
print('')

d1['four'] = d1['one'] # add column
print(d1)
print('')

del d1['four'] #delete column
print(d1)

     one  two  three
no1    1    2      3
no2    4    5      6

     one  two  three  four
no1    1    2      3     1
no2    4    5      6     4

     one  two  three
no1    1    2      3
no2    4    5      6