<a href="https://colab.research.google.com/github/kwon0136/Python/blob/master/190226/test1_pivot_table_crime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

crime_seoul = pd.read_csv("../Data/crime_Seoul2.csv", encoding='utf-8', thousands=",") # thousands="," --> 콤마 제거
crime_seoul.head()

,Unnamed: 0,관서명,살인 발생,살인 검거,강도 발생,강도 검거,강간 발생,강간 검거,절도 발생,절도 검거,폭력 발생,폭력 검거,구별
0,0,중부서,2,2,3,2,105,65,1395,477,1355,1170,중구
1,1,종로서,3,3,6,5,115,98,1070,413,1278,1070,종로구
2,2,남대문서,1,0,6,4,65,46,1153,382,869,794,중구
3,3,서대문서,2,2,5,4,154,124,1812,738,2056,1711,서대문구
4,4,혜화서,3,2,5,4,96,63,1114,424,1015,861,종로구

In [0]:
crime_seoul = pd.read_csv("../Data/crime_Seoul2.csv", encoding='utf-8', thousands=",", index_col=0)
crime_seoul.head()

# '구별'로 묶어서 나타내기
# pivot_table
crime_pivot = pd.pivot_table(crime_seoul, index='구별', aggfunc=np.sum) # aggregation -> sum으로 설정
crime_pivot.head()

# column추가
# 강간검거율, 강도검거율, 살인검거율, 절도검거율, 폭력검거율
crime_pivot['강간검거율'] = df_pivot['강간 검거']/df_pivot['강간 발생']*100
crime_pivot['강도검거율'] = df_pivot['강도 검거']/df_pivot['강도 발생']*100
crime_pivot['살인검거율'] = df_pivot['살인 검거']/df_pivot['살인 발생']*100
crime_pivot['절도검거율'] = df_pivot['절도 검거']/df_pivot['절도 발생']*100
crime_pivot['폭력검거율'] = df_pivot['폭력 검거']/df_pivot['폭력 발생']*100
crime_pivot.head()

,강간 검거,강간 발생,강도 검거,강도 발생,살인 검거,살인 발생,절도 검거,절도 발생,폭력 검거,폭력 발생,강간검거율,강도검거율,살인검거율,절도검거율,폭력검거율
구별,,,,,,,,,,,,,,,
강남구,349,449,18,21,10,13,1650,3850,3705,4284,77.728285,85.714286,76.923077,42.857143,86.484594
강동구,123,156,8,6,3,4,789,2366,2248,2712,78.846154,133.333333,75.000000,33.347422,82.890855
강북구,126,153,13,14,8,7,618,1434,2348,2649,82.352941,92.857143,114.285714,43.096234,88.637222
관악구,221,320,14,12,8,9,827,2706,2642,3298,69.062500,116.666667,88.888889,30.561715,80.109157
광진구,220,240,26,14,4,4,1277,3026,2180,2625,91.666667,185.714286,100.000000,42.200925,83.047619

In [0]:
# data 삭제
del crime_pivot['강간 검거']
del crime_pivot['강도 검거']
del crime_pivot['살인 검거']
del crime_pivot['절도 검거']
del crime_pivot['폭력 검거']

In [0]:
crime_pivot.head()

,강간 발생,강도 발생,살인 발생,절도 발생,폭력 발생,강간검거율,강도검거율,살인검거율,절도검거율,폭력검거율
구별,,,,,,,,,,
강남구,449,21,13,3850,4284,77.728285,85.714286,76.923077,42.857143,86.484594
강동구,156,6,4,2366,2712,78.846154,133.333333,75.000000,33.347422,82.890855
강북구,153,14,7,1434,2649,82.352941,92.857143,114.285714,43.096234,88.637222
관악구,320,12,9,2706,3298,69.062500,116.666667,88.888889,30.561715,80.109157
광진구,240,14,4,3026,2625,91.666667,185.714286,100.000000,42.200925,83.047619

In [0]:
# loc[row, column]
crime_pivot.loc[crime_pivot['강도검거율']>100,:]

,강간 발생,강도 발생,살인 발생,절도 발생,폭력 발생,강간검거율,강도검거율,살인검거율,절도검거율,폭력검거율
구별,,,,,,,,,,
강동구,156,6,4,2366,2712,78.846154,133.333333,75.000000,33.347422,82.890855
관악구,320,12,9,2706,3298,69.062500,116.666667,88.888889,30.561715,80.109157
광진구,240,14,4,3026,2625,91.666667,185.714286,100.000000,42.200925,83.047619
도봉구,102,9,3,1063,1487,103.921569,111.111111,100.000000,44.967074,87.626093

In [0]:
# 100 넘는 검거율을 100으로 setting하기

cols = ['강간검거율','강도검거율','살인검거율','절도검거율','폭력검거율']

crime_pivot.loc['강남구','강도검거율']    
crime_pivot.loc[crime_pivot['강도검거율']>100, '강도검거율']

for s in cols:
    crime_pivot.loc[crime_pivot[s]>100,s] = 100
    
crime_pivot.head()

,강간 발생,강도 발생,살인 발생,절도 발생,폭력 발생,강간검거율,강도검거율,살인검거율,절도검거율,폭력검거율
구별,,,,,,,,,,
강남구,449,21,13,3850,4284,77.728285,85.714286,76.923077,42.857143,86.484594
강동구,156,6,4,2366,2712,78.846154,100.000000,75.000000,33.347422,82.890855
강북구,153,14,7,1434,2649,82.352941,92.857143,100.000000,43.096234,88.637222
관악구,320,12,9,2706,3298,69.062500,100.000000,88.888889,30.561715,80.109157
광진구,240,14,4,3026,2625,91.666667,100.000000,100.000000,42.200925,83.047619

In [0]:
## Scaling
# 척도 기준을 정해 그 사이 값으로 변환

from sklearn.preprocessing import MinMaxScaler
a = [[1],[10],[9]]
s = MinMaxScaler(feature_range=(0,1))

# a를 s의 범위(0,1)내의 값으로 변환하여 나타냄
a = s.fit_transform(a)
a

array([[0.        ],
       [1.        ],
       [0.88888889]])

In [0]:
crime_pivot.rename(columns={'강간 발생':'강간', '강도 발생':'강도', '살인 발생':'살인', '절도 발생':'절도', '폭력 발생':'폭력'}, inplace=True)
crime_pivot.head()

,강간,강도,살인,절도,폭력,강간검거율,강도검거율,살인검거율,절도검거율,폭력검거율
구별,,,,,,,,,,
강남구,449,21,13,3850,4284,77.728285,85.714286,76.923077,42.857143,86.484594
강동구,156,6,4,2366,2712,78.846154,100.000000,75.000000,33.347422,82.890855
강북구,153,14,7,1434,2649,82.352941,92.857143,100.000000,43.096234,88.637222
관악구,320,12,9,2706,3298,69.062500,100.000000,88.888889,30.561715,80.109157
광진구,240,14,4,3026,2625,91.666667,100.000000,100.000000,42.200925,83.047619

In [0]:
from sklearn.preprocessing import MinMaxScaler
cols2 = ['강간','강도','살인','절도','폭력']
x = crime_pivot[cols2].values
x
s = MinMaxScaler(feature_range=(0,1))
s2 = s.fit_transform(x.astype(float))
s2

array([[1.        , 0.94117647, 0.91666667, 0.95347246, 0.66138567],
       [0.1556196 , 0.05882353, 0.16666667, 0.44577489, 0.28966659],
       [0.14697406, 0.52941176, 0.41666667, 0.12692439, 0.27476945],
       [0.62824207, 0.41176471, 0.58333333, 0.56209374, 0.42823362],
       [0.39769452, 0.52941176, 0.16666667, 0.6715703 , 0.26909435],
       [0.51585014, 0.58823529, 0.5       , 0.43516935, 0.35942303],
       [0.14121037, 0.05882353, 0.08333333, 0.17242559, 0.13407425],
       [0.27377522, 0.11764706, 0.66666667, 0.38658912, 0.29226768],
       [0.        , 0.23529412, 0.08333333, 0.        , 0.        ],
       [0.20461095, 0.47058824, 0.25      , 0.3140609 , 0.25088673],
       [0.52737752, 0.23529412, 0.25      , 0.27437564, 0.10002365],
       [0.55331412, 0.52941176, 0.5       , 0.51043449, 0.35374793],
       [0.14985591, 0.        , 0.        , 0.25624359, 0.13454717],
       [0.83861671, 0.23529412, 0.5       , 0.53780363, 0.21565382],
       [0.06916427, 0.23529412, 0.16666667, 0.18611016, 0.02955782],
       [0.13832853, 0.        , 0.25      , 0.2470065 , 0.17072594],
       [0.34005764, 0.47058824, 0.75      , 0.74444064, 0.42752424],
       [0.80691643, 0.82352941, 0.66666667, 1.        , 1.        ],
       [0.55619597, 1.        , 1.        , 0.65035922, 0.49302436],
       [0.26512968, 0.52941176, 0.25      , 0.16900445, 0.1331284 ],
       [0.18443804, 0.23529412, 0.08333333, 0.29113924, 0.2757153 ],
       [0.31412104, 0.35294118, 0.33333333, 0.38351009, 0.19058879],
       [0.19596542, 0.23529412, 0.08333333, 0.50803969, 0.17427288],
       [0.24495677, 0.35294118, 0.91666667, 0.36674649, 0.32158903]])

In [0]:
# cols2 = ['강간','강도','살인','절도','폭력']
crime_data = pd.DataFrame(s2, columns=cols2, index=crime_pivot.index)
crime_data

            강간        강도        살인        절도        폭력
구별
강남구   1.000000  0.941176  0.916667  0.953472  0.661386
강동구   0.155620  0.058824  0.166667  0.445775  0.289667
강북구   0.146974  0.529412  0.416667  0.126924  0.274769
관악구   0.628242  0.411765  0.583333  0.562094  0.428234
광진구   0.397695  0.529412  0.166667  0.671570  0.269094
구로구   0.515850  0.588235  0.500000  0.435169  0.359423
금천구   0.141210  0.058824  0.083333  0.172426  0.134074
노원구   0.273775  0.117647  0.666667  0.386589  0.292268
도봉구   0.000000  0.235294  0.083333  0.000000  0.000000
동대문구  0.204611  0.470588  0.250000  0.314061  0.250887
동작구   0.527378  0.235294  0.250000  0.274376  0.100024
마포구   0.553314  0.529412  0.500000  0.510434  0.353748
서대문구  0.149856  0.000000  0.000000  0.256244  0.134547
서초구   0.838617  0.235294  0.500000  0.537804  0.215654
성동구   0.069164  0.235294  0.166667  0.186110  0.029558
성북구   0.138329  0.000000  0.250000  0.247007  0.170726
송파구   0.340058  0.470588  0.750000  0.744441  0.427524
양천구   0.806916  0.823529  0.666667  1.000000  1.000000
영등포구  0.556196  1.000000  1.000000  0.650359  0.493024
용산구   0.265130  0.529412  0.250000  0.169004  0.133128
은평구   0.184438  0.235294  0.083333  0.291139  0.275715
종로구   0.314121  0.352941  0.333333  0.383510  0.190589
중구    0.195965  0.235294  0.083333  0.508040  0.174273
중랑구   0.244957  0.352941  0.916667  0.366746  0.321589

In [0]:
# cols2 = ['강간','강도','살인','절도','폭력']
crime_pivot[cols2] = crime_data[cols2]
crime_pivot

,강간,강도,살인,절도,폭력,강간검거율,강도검거율,살인검거율,절도검거율,폭력검거율
구별,,,,,,,,,,
강남구,1.000000,0.941176,0.916667,0.953472,0.661386,77.728285,85.714286,76.923077,42.857143,86.484594
강동구,0.155620,0.058824,0.166667,0.445775,0.289667,78.846154,100.000000,75.000000,33.347422,82.890855
강북구,0.146974,0.529412,0.416667,0.126924,0.274769,82.352941,92.857143,100.000000,43.096234,88.637222
관악구,0.628242,0.411765,0.583333,0.562094,0.428234,69.062500,100.000000,88.888889,30.561715,80.109157
광진구,0.397695,0.529412,0.166667,0.671570,0.269094,91.666667,100.000000,100.000000,42.200925,83.047619
구로구,0.515850,0.588235,0.500000,0.435169,0.359423,58.362989,73.333333,75.000000,38.072805,80.877951
금천구,0.141210,0.058824,0.083333,0.172426,0.134074,80.794702,100.000000,100.000000,56.668794,86.465433
노원구,0.273775,0.117647,0.666667,0.386589,0.292268,61.421320,100.000000,100.000000,36.525308,85.530665
도봉구,0.000000,0.235294,0.083333,0.000000,0.000000,100.000000,100.000000,100.000000,44.967074,87.626093
동대문구,0.204611,0.470588,0.250000,0.314061,0.250887,84.393064,100.000000,100.000000,41.090358,87.401884
동작구,0.527378,0.235294,0.250000,0.274376,0.100024,48.771930,55.555556,100.000000,35.442359,83.089005
마포구,0.553314,0.529412,0.500000,0.510434,0.353748,84.013605,71.428571,100.000000,31.819961,84.445189
서대문구,0.149856,0.000000,0.000000,0.256244,0.134547,80.519481,80.000000,100.000000,40.728477,83.219844
서초구,0.838617,0.235294,0.500000,0.537804,0.215654,63.358779,66.666667,75.000000,41.404175,87.453105
성동구,0.069164,0.235294,0.166667,0.186110,0.029558,94.444444,88.888889,100.000000,37.149969,86.538462
성북구,0.138329,0.000000,0.250000,0.247007,0.170726,82.666667,80.000000,100.000000,41.512605,83.974649
송파구,0.340058,0.470588,0.750000,0.744441,0.427524,80.909091,76.923077,90.909091,34.856437,84.552352
양천구,0.806916,0.823529,0.666667,1.000000,1.000000,77.486911,84.210526,100.000000,48.469644,83.065080
영등포구,0.556196,1.000000,1.000000,0.650359,0.493024,62.033898,90.909091,85.714286,32.995951,82.894737
용산구,0.265130,0.529412,0.250000,0.169004,0.133128,89.175258,100.000000,100.000000,37.700706,83.121951
은평구,0.184438,0.235294,0.083333,0.291139,0.275715,84.939759,66.666667,100.000000,37.147335,86.920467
종로구,0.314121,0.352941,0.333333,0.383510,0.190589,76.303318,81.818182,83.333333,38.324176,84.212822
중구,0.195965,0.235294,0.083333,0.508040,0.174273,65.294118,66.666667,66.666667,33.712716,88.309353
중랑구,0.244957,0.352941,0.916667,0.366746,0.321589,79.144385,81.818182,92.307692,38.829040,84.545135